.profile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0 0;

}

@media screen and (max-width: 730px) {
    .profile {
        flex-direction: column;
        margin: 40px 19px 0;
    }
}